* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #edeff2;
    font-family: "Calibri", "Roboto", sans-serif;
}

.chat_window { /*Campo do meio, em troca de mensagens das mensagens*/
    position: fixed;
    width: calc(100% - 20px);
    max-width: 800px;
    height: 100%;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    background-color: white;
    /*overflow: auto;*/
}

.top_menu { /*Campo com o imagens Ari e Logo */
    /*background-color: #f8f8f8;*/
    /*margin-left: auto;
    margin-right: auto;*/
    width: 100%;
    padding: 100px 0 15px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

    .top_menu .ari {
        position: absolute;
        width: 99%;
        height: 100px;
        top: 10px;
        /*bottom: 0px;*/
        left: 10px;
    }

    .top_menu .logo {
        position: absolute;
        width: 350px;
        height: 53px;
        top: 40px;
        right: 30px;
    }

.ari {
    background-image: url('../images/ari100.png');
    background-repeat: no-repeat;
}

.logo {
    background-image: url('../images/logo50.png');
    background-repeat: no-repeat;
}

.messages {
    position: relative;
    list-style: none;
    padding: 20px 10px 0 10px;
    margin: 0;
    height: 72%;
    overflow: scroll;
}

.letter {
    color: floralwhite;
    position: relative;
    text-align: center;
    margin-top: 12px;
}

.messages .message {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 0.5s linear;
    opacity: 0;
}


    .messages .message.left .text_wrapper { /*Caixa de mensagem enviada pelo Watson*/
        background-color: #2f355c; 
        margin-left: 20px;
    }

        .messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
            right: 100%;
            border-right-color: #2f355c;
        }

    .messages .message.left .text {        
        color: white;
    }


    .messages .message.right .text_wrapper { /*Caixa de mensagem enviada pelo Usuário*/
        background-color: #dbe1e9;
        margin-right: 20px;
        float: right;
    }

        .messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
            left: 100%;
            border-left-color: #dbe1e9;
        }

    .messages .message.right .text {
        /*color: rgba(16, 93, 146, 1);*/
        color: #2f355c;
    }

    .messages .message.appeared {
        opacity: 1;
    }

    .messages .message .avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: inline-block;
    }

    .messages .message .text_wrapper {
        display: inline-block;
        padding: 20px;
        border-radius: 6px;
        width: calc(100% - 85px);
        min-width: 100px;
        position: relative;
    }

        .messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
            top: 18px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        .messages .message .text_wrapper::after {
            border-width: 13px;
            margin-top: 1px;
        }

        .messages .message .text_wrapper::before {
            border-width: 15px;
            margin-top: -2px;
        }

        .messages .message .text_wrapper .text {
            font-size: 15px;
            font-weight: 300;
        }

.bottom_wrapper { /*Campo embaixo da barra horizontal contendo o campo de escrita e o botão Enviar*/
    /*position: relative;*/
    width: 100%;
    background-color: #f8f8f8;
    padding: 20px 20px;
    position: absolute;
    bottom: 0;
}

    .bottom_wrapper .message_input_wrapper { /*Campo contendo o campo de escrita redondo*/
        display: inline-block;
        height: 50px;
        border-radius: 5px;
        /*border: 2px solid rgba(16, 93, 146, 1);*/
        border: 1px solid #2F355C;
        width: calc(100% - 160px);
        position: relative;
        padding: 0 20px;
        /*background-color: #000000;*/
    }

        .bottom_wrapper .message_input_wrapper .message_input { /*Quadrado branco de fundo da mensagem*/
            border: none;
            height: 90%;
            /*box-sizing: border-box;*/
            width: calc(100% - 40px);
            position: absolute;
            outline-width: 0;
            /*color: rgba(16, 93, 146, 1);*/
            color: #333;
            background-color: #f8f8f8;
            top: 5%;
        }

    .bottom_wrapper .send_message { /*Botão Enviar*/
        width: 140px;
        height: 50px;
        border-radius: 5px;
        background-color: #101652;
        color: white;
        cursor: pointer;
        transition: all 0.2s linear;
        text-align: center;
        float: right;
    }

        .bottom_wrapper .send_message:hover {
            color: white;
            background-color: #070a2d;
        }

        .bottom_wrapper .send_message .text {
            font-size: 18px;
            font-weight: 300;
            display: inline-block;
            line-height: 48px;
        }

.message_template {
    display: none;
}
